<table class="table table-striped">
	<thead>
		<tr>
			<th>Edit</th>
			<th>Delete</th>
			<th>Emp ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Salary</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="emp in employees">
			<td>
				<button class="btn btn-info" 
						ng-click="editEmployee($index + 1)">
					<span class="glyphicon glyphicon-pencil">
					</span>
					&nbsp;&nbsp;Edit
				</button>
			</td>
			<td>
				<button class="btn btn-info"
						ng-click="deleteEmployee($index + 1)">
					<span class="glyphicon glyphicon-trash"></span>
					&nbsp;&nbsp;DELETE
				</button>				
			</td>
			<td>{{emp.empId}}</td>
			<td>{{emp.firstName}}</td>
			<td>{{emp.lastName}}</td>
			<td>{{emp.salary | currency:"&#8377;"}}</td>
		</tr>
	</tbody>
</table>
<hr />
<div ng-include="'views/user-form.htm'"></div>