<div class="container">
	<div ng-class="em.transactionClassName">
		<strong>{{em.transactionStatus}}</strong> {{em.transactionMessage}}
	</div>
	<div class="row" ng-show="em.showList">
		<div class="col-sm-4 col-sm-offset-4">
			<h2 class="text-center">Total todos : {{ em.currentTodoList.listElements.length }}</h2>
			<input type="text" class="form-control" ng-model="em.filterText" placeholder="Search for todo..">
			<!-- LOOP OVER THE TODOS IN $scope.todos -->
			<div ng-repeat="todo in em.currentTodoList.listElements | filter : {'name' : em.filterText}">
				<label>
					<input type="radio" name="todoName" ng-model="em.check" ng-click="em.editTodo(todo)"> {{todo.name}}
				</label>
			</div>
			<button class="btn btn-primary" ng-click="em.newTodo()">Crate new todo</button>
			<button class="btn btn-primary" ng-click="em.back()">Back</button>
			<!--<button class="btn btn-primary" ng-click="vm.viewTodo('view')">View</button>-->
		</div>
		<!--<button class="btn btn-primary btn-lg" ng-click="vm.viewTodo('create')">Create</button>-->
	</div>
	<!-- FORM TO CREATE TODOS -->
	<form role="form" ng-show="em.showForm">
		<div class="form-group">
			<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
			<label for="todo name">TODO NAME : </label>
			<input type="text" class="form-control" ng-model="em.currentTodo.name">
		</div>
		<div class="form-group">
			<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
			<label for="todo name">TODO DESCRIPTION : </label>
			<input type="text" class="form-control" ng-model="em.currentTodo.description">
		</div>
		<!-- createToDo() WILL CREATE NEW TODOS -->
		<div ng-if="em.create">
			<button class="btn btn-primary" ng-click="em.createTodo(em.currentTodoList.listName, em.currentTodo)">Add</button>
			<button class="btn btn-primary" ng-click="em.showBack()">Back</button>
		</div>
		<div ng-if="em.edit">
			<button class="btn btn-primary" ng-click="em.updateTodo(em.currentTodoList.listName, em.currentTodo)">Update</button>
			<button class="btn btn-primary" ng-click="em.deleteTodo(em.currentTodoList.listName, em.currentTodo)">Delete</button>
			<button class="btn btn-primary" ng-click="em.showBack()">Back</button>
		</div>
	</form>
</div>